/* *{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
} */

.body{
    font-family: 'Open Sans', sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.orange{
    color: #FD6E0A;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.title{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}
.navbar > ul{
    display: flex;
    align-items: center;
}
.navbar > ul > li{
    list-style: none;
    margin-right: 50px;
}
.navbar > ul > li > a{
    text-decoration: none;
    color: #474747;
}
.btn{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
